group Core
  framework: netstandard2.0
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget FSharp.Core
  nuget FParsec
  nuget FSharp.Compiler.Service = 41.0.2
  nuget FSharp.Collections.ParallelSeq
  nuget MessagePack
  nuget MessagePack.FSharpExtensions
  nuget System.Reflection.Metadata


group App
  framework: net60
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget FSharp.Core
  nuget FParsec
  nuget FSharp.Compiler.Service = 41.0.2
  nuget FSharp.Collections.ParallelSeq
  nuget MessagePack
  nuget MessagePack.FSharpExtensions
  nuget System.Reflection.Metadata
  nuget System.ValueTuple

  nuget BenchmarkDotNet

  nuget Persimmon
  nuget Persimmon.Runner
  nuget Persimmon.MuscleAssert

group Build
  framework: net60
  source https://api.nuget.org/v3/index.json
  storage: none
  
  nuget FAKE
  nuget FAKE.Persimmon
  nuget Persimmon.Console

  github fsharp/FAKE modules/Octokit/Octokit.fsx
