source https://nuget.org/api/v2

nuget FParsec >= 1.0.2
nuget FSharp.Compiler.Service >= 3.0.0
nuget FsPickler >= 2.1.0

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget FAKE.Persimmon

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget Persimmon
  nuget Persimmon.Console