group App
  source https://nuget.org/api/v2

  nuget FSharp.Core >= 4.1.17
  nuget FParsec >= 1.0.2
  nuget FSharp.Compiler.Service >= 12.0.2
  nuget FSharp.Collections.ParallelSeq >= 1.0.2
  nuget MessagePack >= 1.2.2
  nuget MessagePack.FSharpExtensions >= 1.1.0

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget FAKE.Persimmon

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget Persimmon
  nuget Persimmon.Console
  nuget Persimmon.MuscleAssert
  nuget System.ValueTuple
  nuget FSharp.Core >= 4.1.17