type project
owners
    hafuu
authors 
    hafuu
projectUrl
    http://github.com/hafuu/FSharpApiSearch
licenseUrl
    http://github.com/hafuu/FSharpApiSearch/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
tags
    F# fsharp api search
summary
    F# API search engine
description
    F# API search engine


