<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FSharpCore" value="C:\Program Files (x86)\Reference Assemblies\Microsoft\FSharp\.NETFramework\v4.0\4.4.0.0\"/>
    <add key="Framework" value="C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6.1\;C:\Windows\Microsoft.NET\Framework\v4.0.30319\"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>